{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-root-import",
      [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "src"
        }
      ]
    ],
    "transform-object-rest-spread",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error", "Array"]
      }
    ]
  ]
}
